<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Hello, world!</title>
</head>
<body>
  <section class="contact-from pt-4">
    <div class="container">

      <div class="row mt-5">
        <div class="col-md-7 mx-auto">
          <div class="form-wrapper">
            <div class="row">
              <div class="col-md-12">
                <h4>Login form</h4>
              </div>
            </div>
            <form _lpchecked="1" action="/log" method="post" autocomplete="on">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control"
                      placeholder="Email should contain @,."><br><br>
                      
                    <input type="password" name="pass" class="form-control" placeholder="Password"><br><br>
                  <center> <input class="btn btn-first " type="submit" name="submit"></center>
                  <center> <p class="ml-60">Don,t have  an Account?   <a class="hp" href="/register"> Register </a></p></center>
                  
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>
</body>
